.navbar {
    width: 100%;
    height: 10vh;
    background-color: var(--background-color); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.3s ease;
}

.navbar .logo {
    color: var(--first-color);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    font-weight: var(--font-medium);
    transition: var(--transition);
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.nav-link, .theme-icon{
    color: var(--text-color);
    font-size: var(--h2-font-size);
    transition: var(--transition);
    text-decoration: none;
    font-weight: 600;
    transition: var(--transition);
    scale: 1;
}

.theme-icon{
    font-size: var(--h1-font-size);
    margin-left: 25px;
}

.nav-link:hover, .theme-icon:hover{
    color: var(--first-color);
    scale: 0.9;
}

.active{
    color: var(--first-color);
}



/* ======== Small Device ==========  */
.hamburger {
    display: none;
    font-size: var(--h1-font-size);
    cursor: pointer;
    margin-left: 20px;
}

.theme-toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links.slide-in {
    animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%); 
        opacity: 0;
    }
    to {
        transform: translateX(0); 
        opacity: 1;
    }
}

/* Media Queries */
@media screen and (max-width: 980px) {
    .navbar {
        padding-inline: 2rem; 
    }

    .nav-links {
        display: none; 
        flex-direction: column; 
        align-items: flex-start;
        gap: 20px;
        position: absolute;
        top: 10vh;
        right: 0;
        background-color: var(--container-color);
        width: 50%;
        padding: 1rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        z-index: 1;
    }

    
    .nav-links.active {
        display: flex;
        opacity: 1; 
        animation: none; 
    }   

    .hamburger {
        display: block;
        font-size: 2rem;
    }

    .nav-link {
        font-size: 1.2rem; 
    }

    .theme-icon {
        font-size: 1.5rem; 
    }
}